.button {
    width: 150px;
    height: 150px;
    border: none;
    background: rgba(0,0,0,0);
}


.rock {
    background-image: url("../images/rock.png");
}

.paper {    
    background-image: url("../images/paper.png");
}

.scissors {
    background-image: url("../images/scissors.png");
}

.rock, .paper, .scissors {
    background-repeat: no-repeat;
    background-size: contain;
}