@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,700&display=swap');

html {
    background: rgb(238,238,238);
    background: linear-gradient(267deg, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: #eee; */
    height: 100%;
    font-family: 'Josefin Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    text-shadow: -8px -6px #ffde55, -14px -12px #ef5480, 8px 6px #74dae2;

    /* 74dae2 */
}

.containerSelection {
    height: 300px;
    display: flex;
    align-items: center;
}

.playerSelection, 
.computerSelection, 
.resultSign {
    height: 200px;
    width: 200px;
}

.containerButtons { 
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
}

.result {
    height: 50px;
    margin-top: 50px;
}

.button, .buttonComp {
    width: 100px;
    height: 100px;
    border: none;
    background: rgba(0,0,0,0);
}

.rock {
    background-image: url("../images/rock.png");
}

.paper {    
    background-image: url("../images/paper.png");
}

.scissors {
    background-image: url("../images/scissors.png");
}

.equals {
    background-image: url("../images/equals.png");
}

.greater {
    background-image: url("../images/greater.png");
}

.flipped {
    transform: scaleX(-1);
}

.rock, .paper, .scissors, .greater, .less, .equals {
    background-repeat: no-repeat;
    background-size: contain;
}

.playerContainer, .computerContainer {
    text-align: center;
}

.computerScore, .playerScore {
    margin-top: 10px;
}

.restartButton {
    padding: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 10px gray;
    margin: 10px;
}

.result {
    font-size: 18px;
}